
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>View</h2>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10 text-success">
        @ViewBag.FileStatus
        @ViewBag.path
    </div>
</div>

