

<li>@Html.ActionLink("En", "Change", "Lang", new { languageAbreviation = "en" }, new { @class = "btn btn-danger" })</li>
<li>@Html.ActionLink("Fr", "Change", "Lang", new { languageAbreviation = "fr" }, new { @class = "btn btn-success" })</li>
<li>@Html.ActionLink("Ar", "Change", "Lang", new { languageAbreviation = "ar" }, new { @class = "btn btn-info" })</li>

